<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<meta http-equiv="Cache-Control" content="IE=edge" />
	<link rel="stylesheet" href="">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

</head>

<body>
	<div id="app">
		您购买<input type="number" v-model="count">本《{{bookName}}》，每本书售价{{price}}元，打<input type="number"
			v-model="discount">折后，共需付款<input type="number" v-model="total">元。
	</div>
</body>
<script>
	var myApp = new Vue({
		el: '#app',
		data: {
			bookName: 'Vue.js实战',
			count: 1,
			price: 100,
			discount: 9,
		},
		beforeUpdate: function () {
			console.log("beforeupdata钩子执行了一次")
			if (this.count < 0)
				this.count = 0;

			if (this.discount < 5)
				this.discount = 5;
			if (this.discount > 10)
				this.discount = 10;
		},
		computed: {
			total: {
				get: function () {
					return this.price * this.count * this.discount / 10
				},
				set: function (newTotal) {
					this.discount = newTotal / this.count / this.price * 10
				}
			}

		},
		watch: {
			count: function (newValue, oldValue) {
				console.log('count变量的新值为：' + newValue + 'count变量的新值为：' + oldValue);
			}
		}

	})
</script>
</head>

<body>
</body>

</html>